.main {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: normal;
    justify-content: center;
    background-color: #111111;
}
.main_content {
    width: 1200px;
    display: block;
}

.section_title {
    display: block;
    margin-top: 300px;
    .first_title {
        font-size: 70px;
        letter-spacing: -3px;
        color: #ffffff;
        font-weight: 700;
        font-family: "Raleway";
        text-align: center;
        margin-top: 100px;
    }
    .second_title {
        font-size: 18px;
        line-height: 27px;
        color: #737373;
        font-weight: 400;
        font-family: "Poppins";
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

.section_content {
    display: flex;
    .section_data {
        width: 100%;
        display: flex;
        .testimony {
            width: 33.3%;
            padding: 30px;
            margin: 10px;
            border: 1px solid #737373;
            border-radius: 5px;
            .testimony_header {
                font-size: 50px;
                color: #FFFFFF;
                letter-spacing: -5px;
            }
            .testimony_content {
                font-size: 15px;
                line-height: 15px;
                color: #737373;
                font-weight: 500;
                font-family: "Poppins";
                margin-top: -20px;
                margin-bottom: 30px;
            }

        }
        .avatarImg {
            width: 50px;
        }
        .user_name {
            font-size: 15px;
            color: #FFFFFF;
            font-weight: 500;
        }
        .user_email {
            font-size: 13px;
            color: #737373;
            font-weight: 500;
        }
    }


}

@media only screen and (min-width: 768px) and (max-width: 1050px) {
    .main {
        max-height: 100%;
    }
}
