:root {
    --pink-gradient: linear-gradient(rgb(248, 83, 124), rgb(211, 68, 140), rgb(211, 68, 140, 0));
    --yellow-gradient: linear-gradient(rgb(248, 182, 83), rgb(245, 228, 75), rgba(250, 172, 83, 0));
    --bg-pattern: url('../../assets/images/web_pattern.gif');
  }

.main_content {
    background-color: #3c323e;//#FFE644;
    //background-image: url('../../assets/images/pattern.png');
    background-repeat: repeat;
    background-size: 200px 200px;
    background-blend-mode: multiply;
    position: absolute;
    height: 6000px;
    top: 0px;
    left: 0px;
    width: 100%;
    max-height: 400vh;
    z-index: 0;
    // z-index: -999;
     //scroll-behavior: smooth;
}
.main_background {
    background-image: var(--bg-pattern);
    
    //mix-blend-mode: multiply;
    background-repeat: repeat;
    background-blend-mode:saturation;
    opacity: 0.65;
    background-size: 800px 400px;
    height: 8000px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    max-height: 500vh;
    z-index: -1;
    background-color: #3c323e;//#FFE644;

}



.scroll_container {
    // height: 100vh;
    // overflow-y: scroll;
    // scroll-snap-type: y mandatory;
}

.section {
    // height: 100vh;
    // scroll-snap-align: center;
}
/*
@media only screen and (max-width: 1024px) {
    .main_background {
        // background-image: url('../../assets/images/backgroundclouds.png');
        background-size: 100%;
        top: 51px;
        height: 300px;
    }
}

*/


